/* Client Success Stories Carousel */
.client-carousel {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--schedule-bg1);
  border-radius: 10px;
  max-width: 50%;
  box-shadow: 0 4px 8px var(--hero-overlay-color);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-item {
  flex: 1;
  padding: 15px;
  font-size: 1.2em;
  background-color: var(--schedule-bg2);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--carousel-overlay-color);
  margin: 0 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}

.carousel-item.active {
  opacity: 1;
  position: static;
}
