/* Who we Are Section */
.whoweare {
  text-align: center;
  padding: 40px;
  background-color: var(--secondary-color);
}

.whoweare h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.whoweare p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.whoweare-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.whoweare-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .whoweare-images {
    flex-direction: column; 
  }
  
  .whoweare-image {
    width: 90%;
    margin: 0 auto; 
  }
}