/* Why Choose Us Section */
.why-choose-us {
  padding: 50px;
  background-color: var(--secondary-color); 
  text-align: center;
}

.why-choose-us h2 {
  font-size: 2.5rem; 
  margin-bottom: 40px;
  color: var(--primary-color);
}

.why-choose-us ul {
  list-style-type: none;
  font-size: 1.5rem; 
  padding: 0;
  color: var(--text-color);
  line-height: 1.8; 
}

.why-choose-us ul li {
  margin: 15px 0; 
}

/* Image/Text Container */
.why-choose-us-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 40px; 
  margin-bottom: -30px;
}

.why-choose-us-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

/* Responsive Design (Home Page) */
@media (max-width: 768px) {
  .why-choose-us-container {
    flex-direction: column;
    text-align: center;
  }

  .why-choose-us-image {
    width: 150px; 
    height: 150px;
  }
}